.ispy-scroller, .ispy-scroller-frame {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.ispy-scroller-slide, .ispy-scroller-shadow {
	position: absolute;
	top: 0;
	left: 0;
	clear: both;
	z-index: 1;
	background: red;
	box-shadow: 0 0 50px #000;
}

.ispy-scroller-current {
	z-index: 5;
}

.ispy-scroller-shadow {
	width: 900px;
	height: 900px;
	z-index: 4;
	background: #000;
}

.ispy-scroller-next {
	z-index: 3;
}

.ispy-scroller-slide img {
	display: block;
}

.ispy-scroller-btn-previous, .ispy-scroller-btn-next {
	margin: auto;
	width: 50px;
	height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 10;
	color: #fff;
	cursor: pointer;
	font-size: 72px;
	font-weight: bold;
	line-height: 82px;
	text-align: center;
	text-shadow: 0 0 12px #000;
}

.ispy-scroller-btn-next {
	right: 0;
}